.introduction {
  padding: 40px 15px;
  text-align: center;
}

.dev-team {
	width: 100%;
}

.dev {
	text-align: center;
}

.dev-name {
	padding: 0 15px 0 15px;
	text-align: left;
}

.dev-name2 {
	padding: 0 15px 0 15px;
	text-align: center;
}

